# AP3 - Pattern Recognition
Implementation of a decision tree for classifying a database with categorical attributes.

> Name: Jonas Carvalho Fortes

> Mat: 494513

## Load Dataset

In [35]:
import pandas as pd
from scipy.io import loadmat

dataset = loadmat('data/Dataset.mat')
dataset = pd.DataFrame(dataset['Dataset'])
print(f'Dataset shape: {dataset.shape}')

Dataset shape: (876, 4)

In [36]:
print('Dataset:')
dataset

Dataset:

     0  1  2  3
0    1  0  0  1
1    0  0  0  1
2    0  0  0  0
3    0  0  0  0
4    0  0  0  1
..  .. .. .. ..
871  1  1  0  1
872  1  1  0  1
873  1  1  0  1
874  1  0  1  1
875  1  0  0  1

[876 rows x 4 columns]